@charset "utf-8";

.ico {
    background-size: cover !important;
    display: inline-block;
}

.i-back {
    background: url(../img/ico/i-back.png);
    height: 1.5rem;
    width: 1.5rem;
}

.i-x {
    background: url(../img/ico/i-x.png);
    height: 1.5rem;
    width: 1.5rem;
}

.i-arrow-right {
    background: url(../img/ico/i-arrow-right.png);
    height: 0.75rem;
    width: 0.75rem;
}

.i-chevron-right {
    background: url(../img/ico/i-chevron-right.png);
    height: 1rem;
    width: 1rem;
}

.i-tooltip {
    background: url(../img/ico/i-tooltip.png);
    height: 1rem;
    width: 1rem;
}

.i-check {
    background: url(../img/ico/i-check.png);
    height: 1rem;
    width: 1rem;
}
