@charset "utf-8";

.ico {
    background-size: cover !important;
    display: inline-block;
}

.i-back {
    background: url(../kw-img/ico/i-back.png);
    height: 1.5rem;
    width: 1.5rem;
}

.i-x {
    background: url(../kw-img/ico/i-x.png);
    height: 1.5rem;
    width: 1.5rem;
}

.i-chevron-right {
    background: url(../kw-img/ico/i-chevron-right.png);
    height: 1rem;
    width: 1rem;
}

.i-tooltip {
    background: url(../kw-img/ico/i-tooltip.png);
    height: 1rem;
    width: 1rem;
}

.i-kw-check {
    background: url(../kw-img/ico/i-kw-check.png);
    height: 1rem;
    width: 1rem;
}

.i-toast {
    background: url(../kw-img/ico/i-toast.png);
    height: 1rem;
    width: 1rem;
}